<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yidianpuzi.mapper.RoleMapper">
    <select id="findRoles" resultType="com.yidianpuzi.domain.Role">
        select
        <include refid="Base_Column_List" />
        from t_role

        order by id desc  limit #{limit},#{pageSize}
    </select>

    <select id="findRolesCount" resultType="java.lang.Integer">
        select
        count(*)
        from t_role
    </select>
</mapper>