<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidianpuzi.mapper.UserMapper">
  <select id="findUsers" resultType="com.yidianpuzi.domain.User">
    select
    <include refid="Base_Column_List" />
    from t_user
    where  1=1
    <if test="userName != null">
        and   userName = #{userName}
    </if>
    <if test="phone != null">
      and   phone = #{phone}
    </if>
    <if test="passport != null">
      and   passport = #{passport}
    </if>
    order by id desc  limit #{limit},#{pageSize}
  </select>

  <select id="findUsersCount" resultType="java.lang.Integer">
    select
    count(*)
    from t_user
    where  1=1
    <if test="userName != null">
      and   userName = #{userName}
    </if>
    <if test="phone != null">
      and   phone = #{phone}
    </if>
    <if test="passport != null">
      and   passport = #{passport}
    </if>
  </select>

  <select id="getUserByPassportAndPassword" resultType="com.yidianpuzi.domain.User">
    select
    <include refid="Base_Column_List" />
    from t_user
    where  1=1
    <if test="passport != null">
      and   passport = #{passport}
    </if>
    <if test="passwd != passwd">
      and   passwd = #{passwd}
    </if>
  </select>

</mapper>